name: Auto Release Workflow
on:
  push:
    tags:
      - "*"
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Create archive
        run: git archive --format=zip --output ./NextUp.zip
      - name: Create Release & Upload
        uses: softprops/action-gh-release@v2
        with:
          files: NextUp.zip
